.choose-places {
	background-color: #1d1711;
	padding: 15rem 4rem 10rem;
	background-image: linear-gradient(to right bottom, rgba(138, 138, 138, 0.75), rgba(0, 0, 0, 0.75)), url(images/background-image.jpg);
	background-size: cover;
}

@media (max-width: 700px) {
	.choose-places {
		padding: 5rem 1rem 5rem;
	}
}
